h1 {
    background-color: black;
    color: white;
    font-family: Verdana;
    font-weight: Normal;
    text-align: center;
    font-size: 50px;
}

html {
    background-color: black;
    text-align: center;
}

body {
    font-family: Verdana, sans-serif;
}

a {
    font-size: 16px;
    color: aquamarine;
}

h5 {
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana;
    font-size: 21px;
    Color: gray;
}

footer {
    text-align: right;
    color: gray;
}